@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

.header {

    display: flex;
    align-items: center;
    padding: 20px 60px 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    &_logo {
        width: 20px;
        height: 20px;
        padding-right: 20px;
        box-sizing: content-box;
    }

    &_title {
        padding: 4px 0px 4px 20px;
        border-left: 1px solid #000;
    }
}

.slide.slide-window {
    width: 1024px;
    height: 768px;
    overflow: hidden; 
}

.slide_track {
    display: flex;
    background-image: url('../img/test_onpoint.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease-out;
    width: 3072px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.element{
    &-one {
        position: absolute;
        top: 60px;
        left: -90px;
        width: 200px;
    }
    &-two {
        position: absolute;
        top: 100px;
        right: 250px;
        width: 70px;
    }
    &-three {
        position: absolute;
        top: 30px;
        right: 50px;
        width: 70px;
    }
    &-four {
        position: absolute;
        top: 22%;
        right: 0;
        width: 620px;
        z-index: 2;
    }
    &-five {
        position: absolute;
        top: 30%;
        right: 100px;
        width: 105px;
        z-index: 2;
    }
    &-six {
        position: absolute;
        bottom: 23%;
        left: 24px;
        width: 95px;
    }
    &-seven {
        position: absolute;
        bottom: 6%;
        left: -54px;
        width: 310px;
    }
    &-eight {
        position: absolute;
        bottom: 7%;
        left: 32%;
        width: 100px;
    }
    &-nine {
        position: absolute;
        bottom: 1%;
        right: 32%;
        width: 200px;
    }
}

.slide-one {

    width: 100vw;
    position: relative;
    &_text-wrapp {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    &_text {
        width: 100%;
        max-width: 1024px;
        padding: 0 70px 50px;
        position: relative;
        text-transform: uppercase;
    }
    &_subtitle {
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0 0 20px 0;
    }
    &_title {
        font-size: 6rem;
        font-weight: 100;
        margin: 0;
        width: 100%;
    }
    &_button {
        border: none;
        background: none;
        width: 260px;
        position: absolute;
        right: 195px;
        bottom: 72px;
    }
}

.slide-two {

    width: 100vw;
    position: relative;
    //background-color: rgba(204, 204, 204, 0.596);
    //overflow: hidden;
    &_scroll-wrapp {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_scroll {
        padding: 0 155px 0 70px;
        z-index: 2;
    }
    &_title {
        font-size: 26px;
        text-transform: uppercase;
        width: 195px;
        margin-bottom: 16px;
    }
    &_info {
        display: flex;
    }
    &_range {
        position: relative;
        width: 80px;

        input[type=range] {
            position: relative;
            top: 47%;
            left: -180px;
            transform: rotate(90deg);
            -webkit-appearance: none;
            width: 370px;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 18px;
            width: 80px;
            border-radius: 7px;
            background: #cf578d;
            cursor: pointer;
            margin-top: -7px;
            box-shadow: inset 1px -3px 8px 0 #000000b0, inset -2px 1px 6px 0 #ffffff;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 370px;
            height: 4px;
            cursor: pointer;
            background: #000000;
            border-radius: 2px;
        }
        
    }
    &_text {
        font-size: 20px;
        line-height: 1.5;
        padding: 20px;
        background-color: #fff;
        border-radius: 40px;
        height: 370px;
        overflow: hidden;
    }
}

.element {
    &-one-2 {
        position: absolute;
        bottom: 20%;
        right: -10%;
        width: 260px;
        opacity: .5;
    }
    &-two-2 {
        position: absolute;
        top: 48%;
        right: -66%;
        opacity: .5;
    }
    &-three-2 {
        position: absolute;
        top: 14%;
        left: 38%;
        width: 100%;
    }
    &-four-2 {
        position: absolute;
        top: 14%;
        left: 58%;
        width: 65%;
        opacity: 0.5;
    }
    &-five-2 {
        position: absolute;
        top: 12%;
        left: 72%;
        width: 40%;
        opacity: .5;
    }
}

.slide-three {

    width: 100vw;
    position: relative;
    //background-color: #ccc;
    &_content-wrapp {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        //padding: 0 48px;
        padding: 0 0 0 48px;
    }
    &_content {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        grid-gap: 65px;
    }
    &_image {
        position: relative;
    }
    &_spray {
        position: relative;
        width: 226px;
        z-index: 2;
    }
    &_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-gap: 95px;
        position: relative;
    }
    &_header {

    }
    &_subtitle {
        font-size: 24px;
        text-transform: uppercase;
        margin: 0 0 6px 0;
        padding: 0 0 0 4px;
    }
    &_title {
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0;
        line-height: 1;
    }
    &_text {
        display: grid;
        grid-template-columns: 420px 220px;
        grid-template-rows: 150px 150px;
        grid-gap: 20px 45px;
        position: relative;
        left: -112px;
    }
    &_text-item {
        position: relative;
        padding: 40px;
        background-color: #fff;
        border-radius: 38px;
        filter: drop-shadow(5.446px 8.387px 125px rgba(157,185,198,0.39));
    }
    &_text-item:first-child {
        grid-row-start: 1;
        grid-row-end: 3;
        max-height: 78%;
        text-align: -webkit-right;
        .slide-three_text-img {
            left: 108px !important;
        }
        .slide-three_text-block {
            width: 77%;
        }
    }
    &_text-item:last-child {
        background-color: transparent;
        padding: 27px 0 0;
        fill: none;
    }
    &_text-img {
        position: absolute;
        width: 65px;
        top: -35px;
        left: 33px;
    }
    &_text-block {
        font-size: 28px;
        width: 100%;
        text-align: left;
    }
    &_text-btn {

    }
}
.bubble {
    &-one {
        position: absolute;
        width: 44px;
        top: 18%;
        left: 9%;
        z-index: 2;
    }
    &-two {
        position: absolute;
        width: 140px;
        top: 32%;
        right: -12%;
        z-index: 2;
    }
    &-three {
        position: absolute;
        width: 52px;
        top: -4%;
        right: 14%;
        z-index: 2;
    }
    &-four {
        position: absolute;
        width: 75px;
        bottom: 18%;
        right: -14%;
        z-index: 2;
    }
    &-five {
        position: absolute;
        width: 80px;
        top: 10%;
        right: 8%;
        z-index: 4;
    }
    &-six {
        position: absolute;
        width: 160px;
        right: -18%;
        bottom: 0%;
        z-index: 4;
    }
    &-seven {
        position: absolute;
        width: 50px;
        top: 52%;
        left: -21%;
        z-index: 4;
    }
    &-eight {
        position: absolute;
        width: 80px;
        bottom: 14%;
        left: -12%;
        z-index: 4;
    }
}